.login-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #ffe645 0%, #e2aa02 100%);
  position: relative;

  .logo{
    font-size: 70px;
    font-weight: bold;
    font-family: creepster, cursive;
    letter-spacing: 10px;
    position: absolute;
    top: 50px;
    right: 50px;
  }

  .desc{
    font-size: 34px;
    font-family: 'Aladin', cursive;
    letter-spacing: 5px;
    position: absolute;
    top: 200px;
    right: 50px;
    text-align: right;
    width: 1500px;
  }

  .film{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 713px;
  }

  .login-form{
    width: 500px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    box-shadow: 5px 5px 20px #383838;
  }

  label{
    font-size: 20px;
    font-weight: bold;
  }

  .btn-container{
    position: relative;
    .btn{
        width: 100%;
        margin-top: 20px;
        border: none;
    }

    .error{
        color: red;
        top: 55px;
        position: absolute;
        right: 0px;
    }
  }
}