<div class="login-container">

    <img src="assets/images/film.png" alt="logo" class="film">
    
    <div class="logo">
        Rotten Potatoes
    </div>

    <div class="desc">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Est nisi reiciendis non quae, praesentium esse! Amet cum 
        tempora a dignissimos ab sint cupiditate similique minus 
        itaque accusantium corporis harum totam, commodi fugit! 
        Sed fugiat quam culpa debitis optio ratione natus earum, 
        corrupti asperiores adipisci quisquam aut commodi ullam, 
        ea odit? Esse minima obcaecati eius nobis quidem commodi 
        facere sed illo. Obcaecati officia rerum enim, ipsam esse 
        iusto eveniet maiores sint quam debitis accusantium. Minus, 
        recusandae fugit. Unde eveniet porro, quis dolor maiores error 
        reiciendis temporibus. Omnis fuga blanditiis, iusto corrupti beatae 
        nihil! Dicta ex cupiditate dolor assumenda ullam modi iste.
    </div>

    <div class="login-form">

        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" name="uname" class="form-control" [(ngModel)]="username" />
        </div>
            
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" [(ngModel)]="password" />
        </div>

        <div class="btn-container">
            <div class="error">{{ errormsg }}</div>
            <button class="btn btn-dark" (click)="login()">Login</button>
        </div>
    </div>

</div>